<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý tài khoản khách hàng</title>
    <link th:href="@{/css/bootstrap-5.3.3.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/fontawesome-6.7.1/css/all.css}">
    <script th:src="@{/js/bootstrap-5.3.3.js}"></script>
    <script th:src="@{/js/products.js}"></script>
</head>

<body>
<div class="wrapper">
    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar-admin :: sidebar-admin}"></div>
    <!-- Content -->
    <div class="main-panel p-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="fw-bold mb-3">Quản lý sản phẩm</h1>
            <div class="d-flex align-items-center">
                <span class="me-3 text-dark"><i class="fas fa-user"></i> Welcome, [[${user.getFullname()}]]</span>
                <span sec:authorize="isAuthenticated">
                    <a class="text-decoration-none text-dark cursor-pointer btn btn-danger" th:href="@{/logout}">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </span>
            </div>
        </div>
        <!-- Thanh tìm kiếm -->
        <div class="mb-3 d-flex">
            <input type="text" id="searchKeywordAdmin" class="form-control me-2" placeholder="Nhập từ khóa">
            <button class="btn btn-primary" onclick="searchProducts()">Tìm kiếm</button>
        </div>

        <div class="mb-3 d-flex">
            <a th:href="@{/admin/products/add}" class="btn btn-primary me-2">
                <i class="bi bi-plus-lg"></i> Thêm sản phẩm mới
            </a>
            <a th:href="@{/admin/products/announce-warehouse}" class="btn btn-secondary">
                <i class="bi bi-plus-lg"></i> Báo cáo kho
            </a>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <!-- Bảng danh sách sản phẩm -->
                <table class="table table-bordered table-head-bg-info table-bordered-bd-info mt-4" id="userTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên</th>
                        <th>Danh mục</th>
                        <th>Giá</th>
                        <th>Nhãn hàng</th>
                        <th>Hành động</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${productPage}">
                        <td th:text="${product.getId()}">1</td>
                        <td th:text="${product.getName()}">Áo sơ mi tay dài</td>
                        <td th:text="${product.getCategory().getName()}">Áo sơ mi</td>
                        <td th:text="${product.getPrice()}">250.000 VND</td>
                        <td th:text="${product.getBrand().getName()}">Nhãn hàng</td>
                        <td>
                            <a th:href="@{/admin/warehouse/import-product/{id}(id=${product.id})}" class="btn btn-success">
                                <i class="bi bi-plus-lg"></i> Nhập kho
                            </a>
                            <a th:href="@{/admin/warehouse/export-product/{id}(id=${product.id})}" class="btn btn-warning">
                                <i class="bi bi-box-arrow-up"></i> Xuất kho
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Phân trang -->
                <nav aria-label="Page navigation">
                    <div class="pagination-container">
                        <ul class="pagination justify-content-center">
                            <!-- Nút "Trước" -->
                            <li class="page-item" th:classappend="${productPage.first} ? 'disabled'">
                                <a class="page-link"
                                   th:href="${productPage.first} ? '#' : @{/admin/warehouse(page=${productPage.number - 1}, size=${productPage.size})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            <!-- Các số trang -->
                            <li class="page-item" th:each="i : ${#numbers.sequence(0, productPage.totalPages - 1)}"
                                th:classappend="${i == productPage.number} ? 'active' : ''">
                                <a class="page-link" th:href="@{/admin/warehouse(page=${i}, size=${productPage.size})}"
                                   th:text="${i + 1}"></a>
                            </li>

                            <!-- Nút "Sau" -->
                            <li class="page-item" th:classappend="${!productPage.hasNext()} ? 'disabled'">
                                <a class="page-link"
                                   th:href="${!productPage.hasNext()} ? '#' : @{/admin/warehouse(page=${productPage.number + 1}, size=${productPage.size})}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered table-head-bg-info table-bordered-bd-info mt-4" id="transactionTable">
                    <thead>
                    <tr>
                        <th>Note</th>
                        <th>Thao tác</th>
                        <th>Tạo bởi</th>
                        <th>Ngày tạo</th>
                        <th>Tổng giá trị</th>
                        <th>Hành động</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="transactionGroup : ${transactionGroups}">
                        <td th:text="${transactionGroup.getNote()}">Nhập áo sơ mi tay dài</td>
                        <td th:text="${transactionGroup.getTransactionType()}">Import/Export</td>
                        <td th:text="${transactionGroup.getCreatedBy()}">Minh</td>
                        <td th:text="${transactionGroup.getCreatedAt()}">Thời gian</td>
                        <td th:text="${transactionGroup.getTotalAmount()}">250.000 VND</td>
                        <td>
                            <a th:href="@{/admin/warehouse/transaction-detail/{id}(id=${transactionGroup.getGroupId()})}" class="btn btn-success">
                                <i class="bi bi-plus-lg"></i> Xem chi tiết
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>