### Java ###
*.class
*.war
*.ear
/build/
/target/

### Gradle ###
.gradle/
!gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
/out/

### Eclipse ###
.project
.classpath
.settings/
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

### VS Code ###
.vscode/

### Railway & Docker ###
Dockerfile
docker-compose.yml
Procfile

### Environment Variables ###
.env
