<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hồ sơ cá nhân</title>
    <link th:href="@{/css/bootstrap-5.3.3.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/fontawesome-6.7.1/css/all.css}">
    <script th:src="@{/js/bootstrap-5.3.3.js}"></script>
</head>
<body>
<!-- Import Header -->
<div th:replace="~{fragments/header :: header}"></div>

<div class="container mt-4">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3"><div th:replace="~{fragments/sidebar-profile :: sidebar}" ></div></div>


        <!-- Nội dung profile -->
        <div class="col-md-9">
            <div class="card p-4">
                <h2>Thông tin tài khoản</h2>
                <hr>
                <p><strong>Họ và tên:</strong> <span th:text="${userProfile.name}"></span></p>
                <p><strong>Email:</strong> <span th:text="${userProfile.email}"></span></p>
                <p><strong>Vai trò:</strong> <span th:text="${userProfile.role}"></span></p>
                <hr>
                <h3>Thông tin cá nhân</h3>
                <p><strong>Ảnh đại diện:</strong></p>
                <img th:src="${profile.avatar}" alt="Avatar" class="rounded-circle" width="100">
                <p><strong>Ngày sinh:</strong> <span th:text="${#dates.format(profile.dob, 'dd-MM-yyyy')}"></span></p>
                <p><strong>Số điện thoại:</strong> <span th:text="${profile.phoneNumber != null ? profile.phoneNumber : 'Chưa cập nhật!'}"></span></p>
                <p><strong>Địa chỉ:</strong> <span th:text="${profile.ward != null ? address : 'Chưa cập nhật!'}"></span></p>

                <a href="#" class="btn btn-primary mt-3">Chỉnh sửa thông tin</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
