<div th:fragment="footer">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <footer class="footer">
        <div class="footer-container">
            <div>
                <h3>MNT Fashion VIETNAM</h3>
                <p>Mã số thuế: 0101468497</p>
                <p>Văn phòng: 20/1 Trần Quốc Toản, P.4, Gò Vấp</p>
            </div>
            <div>
                <h3>About us</h3>
                <p><a th:href="@{/contact}">Liên hệ</a></p>
                <p><a th:href="@{/services}">Thông tin dịch vụ</a></p>
                <p><a th:href="@{/careers}">Tuyển dụng</a></p>
                <p><a th:href="@{/stores}">Hệ thống cửa hàng</a></p>
            </div>
            <div>
                <h3>Policy</h3>
                <p><a th:href="@{/warranty-policy}">Chính sách bảo hành</a></p>
                <p><a th:href="@{/return-policy}">Chính sách đổi trả hàng</a></p>
                <p><a th:href="@{/payment-policy}">Chính sách thanh toán</a></p>
                <p><a th:href="@{/shopping-guide}">Hướng dẫn mua hàng</a></p>
            </div>
            <div>
                <h3>Instruction</h3>
                <p><a th:href="@{/online-shopping-guide}">Hướng dẫn mua hàng Online</a></p>
                <p><a th:href="@{/payment-guide}">Hướng dẫn thanh toán</a></p>
                <p><a th:href="@{/return-guide}">Hướng dẫn đổi hàng</a></p>
                <p><a th:href="@{/warranty-guide}">Hướng dẫn bảo hành</a></p>
            </div>
        </div>
    </footer>
</div>
