<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
  <link th:href="@{/css/header.css}" rel="stylesheet">
  <script th:src="@{/js/header.js}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <div class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <!--            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">-->
        <!--                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>-->
        <!--            </a>-->
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" id="search-form">
          <input type="text" id="search-input" placeholder="Tìm kiếm sản phẩm...">
          <button type="button" onclick="searchProducts(event)">Tìm kiếm</button>
        </form>


        <h1 class="text-white">
          MNT Fashion Shop
        </h1>
        <div class="d-flex flex-wrap align-items-center">
          <a th:href="@{/user/wishlist}" class="me-3 text-light"><i class="fa-regular fa-star"></i></a>
          <a th:href="@{/user/chatbot}" class="me-3 text-light"><i class="fa-solid fa-comment"></i></a>
          <div class="dropdown">
            <!-- Icon giỏ hàng -->
            <a href="#" class="me-3 text-light position-relative" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-shopping-cart fa-lg"></i>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                 [[${countCart}]]
              </span>
            </a>

            <!-- Dropdown giỏ hàng -->
            <div  class="dropdown-menu dropdown-menu-end p-3" style="width: 350px;">
              <!-- Sản phẩm trong giỏ hàng -->
              <th:block th:each="item : ${cartItems}">
              <div class="d-flex align-items-center mb-2">
                <input type="checkbox" checked class="me-2">
                <img th:src="@{${productImages}}" class="img-fluid rounded-3" th:alt="${item.product.name}" width="50" height="50">
                <div class="flex-grow-1">
                  <p class="mb-1 fw-bold" th:text="${item.product.name}"></p>
                  <div class="d-flex justify-content-between" style="font-size:12px;">
                    <p>Giá: </p>
                    <p class="mb-0 fw-bold" th:text="${@currencyFormatter.formatVND(item.pricePerUnit)}"></p>
                    <p>| Loại: </p>
                    <p class="mb-0 text-muted" th:text="${item.product.category.name}"></p>
                    <p>| Sl: </p>
                    <p class="mb-0 text-muted" th:text="${item.quantity}"></p>
                  </div>
                </div>
                <a href="#" class="text-danger"><i class="fa-solid fa-trash"></i></a>
              </div>
              </th:block>

              <!-- Thông báo miễn phí vận chuyển -->
<!--              <p class="small text-success">Add <span class="fw-bold">$27.00</span> more for <span class="fw-bold">FREE SHIPPING</span>!</p>-->

              <hr>

              <!-- Tổng tiền -->
              <div class="d-flex justify-content-between fw-bold">
                <span>Total: </span>
                <span class="text-danger">[[${@currencyFormatter.formatVND(totalOrderPrice)}]]</span>
              </div>

              <!-- Nút xem giỏ hàng -->
              <a th:href="@{/user/cart}" class="btn btn-dark w-100 mt-2">Xem giỏ hàng ([[${countCart}]])</a>
            </div>
          </div>

          <div class="dropdown">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
               data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <h6 class="text-white">Welcome, [[${user.getName()}]]</h6>
            <ul class="dropdown-menu text-small" style="">
              <li><a class="dropdown-item" th:href="@{/user/profile}">My Profiles</a></li>
              <li><a class="dropdown-item" href="#">My Orders</a></li>
              <li><a class="dropdown-item" href="#">My Coupons</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><span sec:authorize="isAuthenticated">
                                  <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                              </span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-container">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-between mb-md-0">
        <li><a th:href="@{/user}" class="nav-link px-2 link-body-emphasis">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis">Shop</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis">Blog</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis">About</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis">Contact</a></li>
      </ul>
    </div>
  </div>
</div>