<div th:fragment="popup">
    <div class="popup-container">
        <button class="popup-button" id="mainPopupBtn">
            ☰
        </button>
        <div class="popup-links" id="popupLinks">
            <a href="https://www.facebook.com/" target="_blank" class="popup-link facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://zalo.me/" target="_blank" class="popup-link zalo">
                <i class="fas fa-comment-dots"></i>
            </a>
        </div>
    </div>
</div>
