<div th:fragment="sidebar-admin">
    <div class="bg-dark text-white p-3" id="sidebar-wrapper" style="width: 250px; height: 100vh;">
        <h2 class="text-center">Admin</h2>
        <ul class="list-unstyled">
            <li class="my-3"><a th:href="@{/admin/product}" class="text-white text-decoration-none"><i class="fas fa-box"></i> Sản
                phẩm</a>
            </li>
            <li class="my-3"><a th:href="@{/admin/discount}" class="text-white text-decoration-none"><i class="fas fa-list"></i> Hạ
                giá</a></li>
            <li class="my-3"><a th:href="@{/admin/voucher}" class="text-white text-decoration-none"><i class="fas fa-tags"></i> Khuyến
                mãi</a></li>
            <li class="my-3"><a th:href="@{/admin/account}" class="text-white text-decoration-none"><i class="fas fa-users"></i> Tài khoản người
                dùng</a></li>
            <li class="my-3"><a th:href="@{/admin/order}" class="text-white text-decoration-none"><i
                    class="fas fa-shopping-cart"></i> Đơn
                hàng</a></li>
            <li class="my-3"><a th:href="@{/admin/statistic}" class="text-white text-decoration-none"><i class="fas fa-chart-line"></i>
                Thống kê</a>
            </li>
            <li class="my-3"><a th:href="@{/admin/datatree}" class="text-white text-decoration-none"><i class="fas fa-chart-line"></i>
                Cây dữ liệu</a>
            </li>
            <li class="my-3"><a th:href="@{/admin/chatbot}" class="text-white text-decoration-none">
                <i class="fas fa-comments"></i> Chatbot</a>
            </li>
        </ul>
    </div>
</div>