<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap-5.3.3.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/fontawesome-6.7.1/css/all.css}">
    <script th:src="@{/js/bootstrap-5.3.3.js}"></script>
</head>
<!--Header-->
<div th:replace="~{fragments/header :: header}"></div>
<body>
<section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h3 class="fw-bold mb-0">Shopping Cart</h3>
                                    </div>
                                    <th:block th:each="item : ${cartItems}">
                                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
<!--                                                 <img th:src="@{${productImages}}" class="img-fluid rounded-3" th:alt="${item.product.name}">-->
                                                <img th:if="${#lists.size(productImages[item.product.id]) > 0}"
                                                     th:src="@{${productImages[item.product.id][0]}}"
                                                     class="img-fluid rounded-3"
                                                     th:alt="${item.product.name}"
                                                     width="150"
                                                     height="80">
                                                <span th:if="${#lists.size(productImages[item.product.id]) == 0}">No image available</span>
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                <h6 class="text-muted" th:text="${item.product.category.name}"></h6>
                                                <h6 class="mb-0" th:text="${item.product.name}"></h6>
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                <button class="btn btn-link px-2"
                                                        th:onclick="'updateQuantity(' + ${item.cartItemId} + ', -1)'">
                                                    <i class="fas fa-minus"></i>
                                                </button>

<!--                                                <input type="number" min="1" name="quantity"-->
<!--                                                       th:value="${item.quantity}"-->
<!--                                                       class="form-control form-control-sm"-->
<!--                                                       style="display: block; width: 50px;">-->
                                                <input type="number" min="1" name="quantity"
                                                       th:value="${item.quantity}"
                                                       th:attr="data-cart-id=${item.cartItemId}"
                                                       class="form-control form-control-sm"
                                                       style="display: block; width: 50px;">

                                                <button class="btn btn-link px-2"
                                                        th:onclick="'updateQuantity(' + ${item.cartItemId} + ', 1)'">
                                                    <i class="fas fa-plus"></i>
                                                </button>

                                            </div>
                                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                <h6 class="mb-0" th:text="${@currencyFormatter.formatVND(item.pricePerUnit)}"></h6>
                                            </div>
                                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                <form th:action="@{/user/cart/remove-from-cart}" method="post">
                                                    <input type="hidden" name="id" th:value="${item.cartItemId}" />
                                                    <button type="submit" class="btn btn-link text-muted">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <hr class="my-4">
                                    </th:block>

                                    <hr class="my-4">

                                    <div class="pt-5">
                                        <h6 class="mb-0"><a href="#!" class="text-body"><i
                                                class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-body-tertiary">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between mb-5">
                                        <h6>Đơn hàng ước tính:</h6>
                                        <h6 class="fw-bold">[[${@currencyFormatter.formatVND(totalOrderPrice)}]]</h6>
                                    </div>
                                    <hr class="my-4">
                                    <a  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-block btn-lg"
                                             data-mdb-ripple-color="dark" th:href="@{/user/order}" id="checkoutBtn">Thanh toán</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Footer-->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
<script th:src="@{/js/cart.js}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var checkoutBtn = document.getElementById("checkoutBtn");
        var countCart = [[${countCart}]]; // Lấy giá trị countCart từ Thymeleaf

        checkoutBtn.addEventListener("click", function (event) {
            if (countCart === 0) {
                event.preventDefault(); // Ngăn chặn chuyển hướng
                alert("Chưa có sản phẩm trong giỏ hàng để thực hiện thanh toán");
            }
        });
    });
</script>
</html>