<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link th:href="@{/css/bootstrap-5.3.3.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/fontawesome-6.7.1/css/all.css}">
</head>

<body>
<div class="wrapper">
    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar-admin :: sidebar-admin}"></div>

    <!-- Content -->
    <div class="main-panel p-4">
        <div th:replace="~{fragments/header-admin :: header-admin}"></div>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="fw-bold mb-3">Dashboard</h1>
        </div>
        <div class="row" bis_skin_checked="1">
            <div class="col-sm-6 col-md-3" bis_skin_checked="1">
                <div class="card card-stats card-round" bis_skin_checked="1">
                    <div class="card-body" bis_skin_checked="1">
                        <div class="row align-items-center" bis_skin_checked="1">
                            <div class="col-icon" bis_skin_checked="1">
                                <div class="icon-big text-center icon-primary bubble-shadow-small" bis_skin_checked="1">
                                    <i class="fas fa-users"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0" bis_skin_checked="1">
                                <div class="numbers" bis_skin_checked="1">
                                    <p class="card-category">Visitors</p>
                                    <h4 class="card-title">1,294</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" bis_skin_checked="1">
                <div class="card card-stats card-round" bis_skin_checked="1">
                    <div class="card-body" bis_skin_checked="1">
                        <div class="row align-items-center" bis_skin_checked="1">
                            <div class="col-icon" bis_skin_checked="1">
                                <div class="icon-big text-center icon-info bubble-shadow-small" bis_skin_checked="1">
                                    <i class="fas fa-user-check"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0" bis_skin_checked="1">
                                <div class="numbers" bis_skin_checked="1">
                                    <p class="card-category">Subscribers</p>
                                    <h4 class="card-title">1303</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" bis_skin_checked="1">
                <div class="card card-stats card-round" bis_skin_checked="1">
                    <div class="card-body" bis_skin_checked="1">
                        <div class="row align-items-center" bis_skin_checked="1">
                            <div class="col-icon" bis_skin_checked="1">
                                <div class="icon-big text-center icon-success bubble-shadow-small" bis_skin_checked="1">
                                    <i class="fas fa-luggage-cart"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0" bis_skin_checked="1">
                                <div class="numbers" bis_skin_checked="1">
                                    <p class="card-category">Sales</p>
                                    <h4 class="card-title">$ 1,345</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" bis_skin_checked="1">
                <div class="card card-stats card-round" bis_skin_checked="1">
                    <div class="card-body" bis_skin_checked="1">
                        <div class="row align-items-center" bis_skin_checked="1">
                            <div class="col-icon" bis_skin_checked="1">
                                <div class="icon-big text-center icon-secondary bubble-shadow-small" bis_skin_checked="1">
                                    <i class="far fa-check-circle"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0" bis_skin_checked="1">
                                <div class="numbers" bis_skin_checked="1">
                                    <p class="card-category">Order</p>
                                    <h4 class="card-title">576</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Chat-->
<!--    <div th:replace="~{fragments/adminchat_fragment :: adminchat_fragment}"></div>-->
</div>
<script th:src="@{/js/bootstrap-5.3.3.js}"></script>

</body>

</html>