<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link th:href="@{/css/bootstrap-5.3.3.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/fontawesome-6.7.1/css/all.css}">
</head>

<body>
<div class="wrapper">
    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar-admin :: sidebar-admin}"></div>

    <!-- Content -->
    <div class="main-panel p-4">
        <div th:replace="~{fragments/header-admin :: header-admin}"></div>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="fw-bold mb-3">Dashboard</h1>
        </div>
        <div class="row" >
            <div class="col-sm-6 col-md-3" >
                <div class="card card-stats card-round" >
                    <div class="card-body" >
                        <div class="row align-items-center" >
                            <div class="col-icon" >
                                <div class="icon-big text-center icon-info bubble-shadow-small" >
                                    <i class="fas fa-user-check"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0" >
                                <div class="numbers" >
                                    <p class="card-category">Tổng khách hàng</p>
                                    <h4 class="card-title" th:text="${totalUser != 0} ? ${totalUser} : 'Chưa có dữ liệu'">1303</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" >
                <div class="card card-stats card-round" >
                    <div class="card-body" >
                        <div class="row align-items-center" >
                            <div class="col-icon" >
                                <div class="icon-big text-center icon-success bubble-shadow-small" >
                                    <i class="fas fa-luggage-cart"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0" >
                                <div class="numbers" >
                                    <p class="card-category">Tổng doanh thu</p>
                                    <h4 class="card-title" th:text="${revenuetotal != 0} ? ${#numbers.formatDecimal(revenuetotal, 0, 'COMMA', 0, 'POINT')} + ' đ' : 'Chưa có dữ liệu'">$ 1,345</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" >
                <div class="card card-stats card-round" >
                    <div class="card-body" >
                        <div class="row align-items-center" >
                            <div class="col-icon" >
                                <div class="icon-big text-center icon-secondary bubble-shadow-small" >
                                    <i class="far fa-check-circle"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0" >
                                <div class="numbers" >
                                    <p class="card-category">Tổng đơn hàng</p>
                                    <h4 class="card-title" th:text="${totalOrder != 0} ? ${totalOrder} : 'Chưa có dữ liệu'">576</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Chat-->
<!--    <div th:replace="~{fragments/adminchat_fragment :: adminchat_fragment}"></div>-->
</div>
<script th:src="@{/js/bootstrap-5.3.3.js}"></script>

</body>

</html>