<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quần áo nam</title>
    <link th:href="@{/css/bootstrap-5.3.3.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/fontawesome-6.7.1/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/user.css}">
    <link rel="stylesheet" th:href="@{/css/shop.css}">
    <link rel="stylesheet" th:href="@{/css/card.css}">
    <script th:src="@{/js/bootstrap-5.3.3.js}"></script>
    <script th:src="@{/js/card-js.js}"></script>
    <script th:src="@{/js/header.js}"></script>
</head>
<body>

<!--Header-->
<div th:replace="~{fragments/header :: header}"></div>
<div class="container">
    <nav class="nav-menu d-flex mx-auto align-items-center" style="width: fit-content;">

        <!-- Dropdown Nam -->
        <div class="dropdown">
            <a href="#" class="dropdown-toggle text-white" id="dropdownNam" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Nam
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownNam">
                <li>
                    <table>
                        <tbody>
                        <tr>
                            <td><a th:href="@{/user/shop(category=${'Hàng nam mới'})}" class="dropdown-item">Hàng nam mới</a></td>
                            <td><a th:href="@{/user/shop(category=${'Bán chạy nam'})}" class="dropdown-item">Bán chạy nam</a></td>
                            <td><a th:href="@{/user/shop(category=${'Nam mới'})}" class="dropdown-item">Thương hiệu nam mới</a></td>
                            <td><a th:href="@{/user/shop(category=${'Ưu đãi nam'})}" class="dropdown-item">Ưu đãi nam</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/user/shop(category=${'Áo Sơ Mi Oxford Nam'})}" class="dropdown-item">Sơ mi Oxford</a></td>
                            <td><a th:href="@{/user/shop(category=${'Coffee Lovers Nam'})}" class="dropdown-item">Coffee Lovers</a></td>
                            <td><a th:href="@{/user/shop(category=${'TẾT COLLECTION Nam'})}" class="dropdown-item">EASY TẾT COLLECTION Nam</a></td>
                            <td><a th:href="@{/user/shop(category=${'Áo Routine Squad Nam'})}" class="dropdown-item">Routine Squad Nam</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/user/shop(category=${'Áo Nam'})}" class="dropdown-item">Tất cả Áo Nam</a></td>
                            <td><a th:href="@{/user/shop(category=${'Áo Len Nam'})}" class="dropdown-item">Áo Len</a></td>
                            <td><a th:href="@{/user/shop(category=${'Quần Nam'})}" class="dropdown-item">Tất cả Quần Nam</a></td>
                            <td><a th:href="@{/user/shop(category=${'Quần Nỉ Nam'})}" class="dropdown-item">Quần Nỉ</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/user/shop(category=${'Áo Thun Nam'})}" class="dropdown-item">Áo Thun</a></td>
                            <td><a th:href="@{/user/shop(category=${'Áo Nỉ Nam'})}" class="dropdown-item">Áo Nỉ</a></td>
                            <td><a th:href="@{/user/shop(category=${'Quần Jean Nam'})}" class="dropdown-item">Quần Jean</a></td>
                            <td><a th:href="@{/user/shop(category=${'Quần Short Nam'})}" class="dropdown-item">Quần Short</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/user/shop(category=${'Áo Polo Nam'})}" class="dropdown-item">Áo Polo</a></td>
                            <td><a th:href="@{/user/shop(category=${'Áo Khoác Nam'})}" class="dropdown-item">Áo Khoác</a></td>
                            <td><a th:href="@{/user/shop(category=${'Quần Tây Nam'})}" class="dropdown-item">Quần Tây</a></td>
                            <td><a th:href="@{/user/shop(category=${'Đồ Lót Nam'})}" class="dropdown-item">Đồ Lót</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/user/shop(category=${'Áo sơ mi Nam'})}" class="dropdown-item">Áo Sơ Mi</a></td>
                            <td><a th:href="@{/user/shop(category=${'Suit & Vest Nam'})}" class="dropdown-item">Suit & Vest</a></td>
                            <td><a th:href="@{/user/shop(category=${'Quần Kaki Nam'})}" class="dropdown-item">Quần Kaki</a></td>
                            <td><a th:href="@{/user/shop(category=${'Phụ kiện Nam'})}" class="dropdown-item">Phụ kiện Nam</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/user/shop(category=${'Áo Tank Top'})}" class="dropdown-item" >Áo Tank Top</a></td>
                            <td><a class="dropdown-item" hidden="hidden"></a></td>
                            <td><a th:href="@{/user/shop(category=${'Quần Jogger'})}" class="dropdown-item" >Quần Jogger</a></td>
                            <td><a class="dropdown-item" hidden="hidden"></a></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="dropdown-item">Hệ thống của hàng</a></td>
                            <td><a href="#" class="dropdown-item">Tin thời trang</a></td>
                            <td><a href="#" class="dropdown-item">Trung tâm hỗ trợ</a></td>
                            <td><a href="#" class="dropdown-item">Tra cứu đơn hàng</a></td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>

        <!-- Dropdown Nữ -->
        <div class="dropdown">
            <a href="#" class="dropdown-toggle text-white" id="dropdownNu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Nữ
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownNu">
                <li>
                    <table>
                        <tbody>
                        <tr>
                            <td><a th:href="@{/user/shop(category=${'Slimme Nữ'})}" class="dropdown-item">Slimme Nữ</a></td>
                            <td><a th:href="@{/user/shop(category=${'Coffe Lovers Nữ'})}" class="dropdown-item">Coffe Lovers Nữ</a></td>
                            <td><a th:href="@{/user/shop(category=${'TẾT COLLECTION Nữ'})}" class="dropdown-item">EASY TẾT COLLECTION Nữ</a></td>
                            <td><a th:href="@{/user/shop(category=${'Áo Routine Squad Nữ'})}" class="dropdown-item">Routine Squad Nữ</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/user/shop(category=${'Áo Nữ'})}" class="dropdown-item">Tất cả Áo Nữ</a></td>
                            <td><a th:href="@{/user/shop(category=${'Áo Nỉ Nữ'})}" class="dropdown-item">Áo Nỉ</a></td>
                            <td><a th:href="@{/user/shop(category=${'Quần Nữ'})}" class="dropdown-item">Tất cả Quần Nữ</a></td>
                            <td><a th:href="@{/user/shop(category=${'Quần Short Nữ'})}" class="dropdown-item">Quần Short</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/user/shop(category=${'Áo Thun Nữ'})}" class="dropdown-item">Áo Thun Nữ</a></td>
                            <td><a th:href="@{/user/shop(category=${'Áo Khoác Nữ'})}" class="dropdown-item">Áo Khoác Nữ</a></td>
                            <td><a th:href="@{/user/shop(category=${'Quần Jean Nữ'})}" class="dropdown-item">Quần Jean Nữ</a></td>
                            <td><a th:href="@{/user/shop(category=${'Chân Váy'})}" class="dropdown-item">Chân Váy</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/user/shop(category=${'Áo Sơ Mi Nữ'})}" class="dropdown-item">Áo Sơ Mi Nữ</a></td>
                            <td><a th:href="@{/user/shop(category=${'Áo Vest Nữ'})}" class="dropdown-item">Áo Vest Nữ</a></td>
                            <td><a th:href="@{/user/shop(category=${'Quần Tây Nữ'})}" class="dropdown-item">Quần Tây Nữ</a></td>
                            <td><a th:href="@{/user/shop(category=${'Đồ Lót Nữ'})}" class="dropdown-item">Đồ Lót Nữ</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/user/shop(category=${'Áo Tank Top Nữ'})}" class="dropdown-item">Áo Tank Top Nữ</a></td>
                            <td><a th:href="@{/user/shop(category=${'Đầm Nữ'})}" class="dropdown-item">Đầm Nữ</a></td>
                            <td><a th:href="@{/user/shop(category=${'Quần Kaki Nữ'})}" class="dropdown-item">Quần Kaki Nữ</a></td>
                            <td><a th:href="@{/user/shop(category=${'Phụ kiện Nữ'})}" class="dropdown-item">Phụ kiện Nữ</a></td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/user/shop(category=${'Áo Len Nữ'})}" class="dropdown-item">Áo Len Nữ</a></td>
                            <td><a href="#" class="dropdown-item"></a></td>
                            <td><a th:href="@{/user/shop(category=${'Quần Nỉ Nữ'})}" class="dropdown-item">Quần Nỉ Nữ</a></td>
                            <td><a href="#" class="dropdown-item"></a></td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>

        <a href="#" class="text-white">Về Routine</a>
        <a href="#" class="text-white">Thương Hiệu</a>
        <a href="#" class="text-white">Khuyến Mãi</a>
    </nav>
    <div class="container mt-3">
        <h2 th:text="'Sản phẩm ' + ${currentCategory}"></h2>
            <div id="productCardContainer" class="row row-cols-4 g-3">
                <!-- Lặp qua danh sách sản phẩm bằng Thymeleaf -->
                <div class="col" th:each="product : ${products}">
                    <div class="product-card">
                        <!-- Bọc tất cả ảnh trong 1 div để chồng ảnh lên nhau -->
                        <div class="product-images" onmouseover="startSlideshow(this)" onmouseout="stopSlideshow(this)">
                            <a th:href="@{product-detail/{id}(id=${product.id})}">
                                <img th:each="imageUri : ${productImages[product.id]}"
                                     th:src="${imageUri}"
                                     th:alt="${product.name}"
                                     class="product-image">
                            </a>
                        </div>

                        <h5 th:text="${product.name}"></h5>
                        <p class="product-price">
                            <span th:if="${product.effectivePrice != null and product.effectivePrice lt product.price}">
                                <span class="original-price text-muted text-decoration-line-through"
                                      th:text="${@currencyFormatter.formatVND(product.price)}">
                                </span>
                                <span class="discounted-price text-black fw-bold ms-2"
                                      th:text="${@currencyFormatter.formatVND(product.effectivePrice)}">
                                </span>
                            </span>
                            <span th:unless="${product.effectivePrice != null and product.effectivePrice lt product.price}"
                                  th:text="${@currencyFormatter.formatVND(product.price)}">
                            </span>
                        </p>
                        <p th:text="${product.description}"></p>
                    </div>
                </div>
            </div>
    </div>
    <!--Chat-->
    <div th:replace="~{fragments/chat_fragment :: chat_fragment}"></div>
</div>

<!--Footer-->
<div th:replace="~{fragments/footer :: footer}"></div>



</body>
<script>
    function searchProducts() {
        let keyword = document.getElementById("search-input").value; // Kiểm tra phần id của input có chính xác không
        if (!keyword) {
            alert("Vui lòng nhập từ khóa tìm kiếm.");
            return;
        }
        fetch(`/user/shop/search?keyword=${encodeURIComponent(keyword)}`)
            .then(response => {
                if (!response.ok) throw new Error("Lỗi kết nối server");
                return response.json(); // hoặc dùng response.text().then(console.log)
            })
            .then(products => {
                let container = document.getElementById("productCardContainer");
                container.innerHTML = "";

                // Kiểm tra nếu có sản phẩm
                if (products && products.length > 0) {
                    products.forEach(product => {
                        const productCard = `
                    <div class="col">
                        <div class="product-card">
                            <div class="product-images">
                                <a href="/product-detail/${product.id}">
                                    <img src="${(product.imageUrls && product.imageUrls.length > 0)
                            ? product.imageUrls[0]
                            : 'https://res.cloudinary.com/dgtfqxgvx/image/upload/v1744854407/default.png'}"
                                         alt="${product.name}" class="product-image"/>
                                </a>
                            </div>
                            <h5>${product.name}</h5>
                            <p class="product-price">${product.price}</p>
                            <p>${product.description || ""}</p>
                        </div>
                    </div>`;
                        container.innerHTML += productCard;
                    });

                } else {
                    // Nếu không có sản phẩm, có thể hiển thị thông báo
                    container.innerHTML = "<p>Không tìm thấy sản phẩm nào.</p>";
                }
            })
            .catch(error => {
                console.error("Lỗi khi tìm kiếm:", error);
                // Có thể hiển thị thông báo lỗi cho người dùng
            });
    }

</script>
</html>
