<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../templates/css/TrangChu.css">
    <link rel="stylesheet" href="../templates/css/styles.css">
</head>
<body>
    <header class="header">
        <a href="">
            <img src="../templates/pics/logo.webp" alt="">
        </a>

        <nav class="nav-menu">
            <a href="#" class="icon me-2" data-bs-toggle="tooltip" title="Search">
                <i class="bi bi-search"></i>
            </a>
            <a href="#">Laptop</a>
            <a href="#">PC</a>
            <a href="#">Linh kiện</a>
            <a href="#">Thương Hiệu</a>
            <a href="#">Khuyến Mãi</a>
        </nav>
        <div class="nav-icons">
            <div class="d-flex justify-content-end align-items-center">
                <a href="#" class="icon me-2" data-bs-toggle="tooltip" title="Login">
                    <i class="bi bi-person"></i>
                    <span class="d-none d-md-inline">Đăng nhập</span>
                </a>
                <a href="#" class="icon me-2" data-bs-toggle="tooltip" title="Messages">
                    <i class="bi bi-chat-left-text"></i>
                </a>
                <a class="cart-icon me-2 position-relative" data-bs-toggle="tooltip" title="Cart">
                    <i class="bi bi-cart"></i>
                    <span class="cart-count position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">2</span>
                </a>
                <a href="#" class="icon" data-bs-toggle="tooltip" title="More">
                    <i class="bi bi-three-dots-vertical"></i>
                </a>
            </div>
        </div>
    </header>
    <ul class="nav-dots" id="js-dots">
        <li class="nav-dot"></li>
        <li class="nav-dot"></li>
        <li class="nav-dot"></li>
        <li class="nav-dot"></li>
        <li class="nav-dot"></li>
        <li class="nav-dot"></li>
        <li class="nav-dot"></li>
        <li class="nav-dot"></li>
    </ul>

    <main class="main">
        <section class="section">
            <img src="../templates/pics/tet-de-dang-theme.webp" alt="">
            <h2 class="section__heading">Scroll up and down</h2>
        </section>
        <section class="section">
            <img src="../templates/pics/easy-tet-tet-theme02.webp" alt="">
            <h2 class="section__heading">Click on the nav dots</h2>
        </section>
        <section class="section">
            <img src="../templates/pics/frame-theme03.webp" alt="">
            <h2 class="section__heading">Smooth scrolling</h2>
        </section>
        <section class="section">
            <img src="../templates/pics/banner-website-blazer-theme04.webp" alt="">
            <h2 class="section__heading">Well done!</h2>
        </section>

        <section class="section">
            <img src="../templates/pics/easy-tet-tet-women-theme01.webp" alt="">
            <h2 class="section__heading">Smooth scrolling</h2>
        </section>
        <section class="section">
            <img src="../templates/pics/fall-winter-woman-theme02.webp" alt="">
            <h2 class="section__heading">Well done!</h2>
        </section>
        <section class="section">
            <img src="../templates/pics/thu-dong-slimme-woman-theme03.webp" alt="">
            <h2 class="section__heading">Smooth scrolling</h2>
        </section>
        <section class="section">
            <img src="../templates/pics/untitled-1-woman-theme04.webp" alt="">
            <h2 class="section__heading">Well done!</h2>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../templates/js/TrangChu.js"></script>
</body>
</html>